/* adding font every where */
@font-face{
    font-family: Tex Gyre Adventor;
    src: url("../Images_and_Text/texgyreadventor-regular.otf");
}

/* Setting the margin and padding main area under the nav bar */
.mainPageArea{
    margin: auto;
    padding: 5%;
}

/* creation of information box: to add the title and the description */
.information{
min-width: 350px;
min-height: 500px;
margin-top: 10px;
}

/* Styling of the text for title */
#title{
    font-family: Tex Gyre Adventor;
    font-style: normal;
    font-size: 22px;
    padding:10px;
    color: #555353; 
}

/* creation and styling of the line to divide the description from the title  */
#line{
    height: 2px;
    width: 99%;
    background-color: #555353; 
}

/* styling of the description */
#description{
    font-family: Tex Gyre Adventor;
    font-size: 18px;
    padding:10px;
    color:#353333; 
}

/* setting the min width of the neuron to 400px */
.entireNeuron{
    min-width:400px;
}