/* creation on information box: to add the itle and the description */
.information{
    min-width: 350px;
    min-height: 500px;
    /* background-color: #F5F5F5; */
    margin-top: 10px;
}

/* adding font every where */
@font-face{
    font-family: Tex Gyre Adventor;
    src: url("../Images_and_Text/texgyreadventor-regular.otf");
}
    
/* Styling of the text for title */
#title{
    font-family: TeX Gyre Adventor;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    padding:10px;
    color: #555353; 
}
    
/* creation and styling of the line to divide the description from the title  */
.line{
    height: 2px;
    width: 99%;
    background-color: #555353; 
}
    
/* styling of the description */
#description{
    font-family: TeX Gyre Adventor;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    padding:10px;
    color:#353333; 
}

/* creation on information box: to add the itle and the description */
.informationOne{
    min-width: 350px;
    min-height: 500px;
    /* background-color: #F5F5F5; */
    margin-top: 10px;
}
    
/* Styling of the text for title */
#titleOne{
    font-family: TeX Gyre Adventor;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    padding:10px;
    color: #555353; 
}
    
/* creation and styling of the line to divide the description from the title  */
#lineOne{
    height: 2px;
    width: 99%;
    background-color: #555353; 
}
    
/* styling of the description */
#descriptionOne{
    font-family: TeX Gyre Adventor;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    padding:10px;
    color:#353333; 
}

.sideSection{
    min-width: 400px;
}

.crossSection{
    min-width: 400px;
}

.mainPageArea4{
    padding-top: 5%;
}

.mainPageArea5{
    padding-top: 10%;
}